//! Buttons
.button { 
    cursor: pointer;
    padding: 0 100px; 
    line-height: 36px;
    font: {
        family: 'Montserrat', sans-serif;
        weight: normal;
        size: 16px;
    }
    color: $color-white;  
    border-radius: $full-border-radius;
    background: $to-left-red-gradient;    
    border: none;  
    transition: {
        duration: $main-duration;
        property: 'transform';
    }       

    &:hover {
        transform: scale(1.05);
    }

    &_small{     
        &:last-child {
            margin: 0 0 0 10px;
        }
        padding: 0 40px;
        line-height: 36px;
    }   

    &_inverted-gradient {
        background: $to-right-red-gradient;
    }
}

//! Arrow buttons
.button-container {
    display: flex;
    text-decoration: none; 

    .arrow-down,
    .arrow-up,
    .arrow-right {
        cursor: pointer;
        font-size: 30px;
        letter-spacing: 10px;
        color: $color-white;
        transition: {
            duration: $main-duration;
            property: 'color, transform';
        }    

        &:hover {
            transform: $main-scale;
            color: $color-red;
        }
    }
}

