//! Buttons
.button { 
    cursor: pointer;
    padding: 0 10px; 
    line-height: 36px;
    font: {
        family: 'Montserrat', sans-serif;
        weight: normal;
        size: 16px;
    }
    color: $color-white;  
    border-radius: $full-border-radius;
    background: $to-left-red-gradient;    
    border: none;  
    transition: {
        duration: $main-duration;
        property: 'transform';
    }       

    &:hover {
        transform: scale(1.05);
    }

    &_small{     
        width: 47%;
        line-height: 36px;

        @media (max-width: 992px) {        
            width: 100%;  
            margin: 0 0 5px 0;          
        } 

        @media (max-width: 700px) {              
            margin: 0 10px;       
        }

        @media (max-width: 400px) {    
            padding: 15px 10px;         
            margin: 0 0 5px 0;          
        }
    }   

    &_inverted-gradient {
        background: $to-right-red-gradient;
    }

    @media (max-width: 400px) {        
        padding: 0;
        font-size: 12px;
        line-height: 22px;
    }   

}

//! Arrow buttons
.button-container {
    display: flex;
    text-decoration: none; 

    .arrow-down,
    .arrow-up,
    .arrow-right {
        position: absolute;
        cursor: pointer;
        font-size: 30px;
        letter-spacing: 10px;
        color: $color-white;
        transition: {
            duration: $main-duration;
            property: 'color, transform';
        }    

        &:hover {
            transform: $main-scale;
            color: $color-red;
        }
    }

    .arrow-down {
        bottom: 20px;
        right: 100px;
    }

    .arrow-up {
        top: 20px;
        right: 90px;
    }

    .arrow-right {
        bottom: 20px;
        right: 70px;
    }

    @media (max-width: 700px) {        
        display: none;
    } 
}

