.fullscreen {
    min-height: $fullscreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    min-height: $fullscreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1072px;
    max-height: 575px;
    overflow: hidden;
    margin: 0 auto; 
    background: url('../img/background_rectangles.png');
    display: flex;  
    background-color: $color-background-orange; 
    border-radius: $full-border-radius;
    position: relative;   
}

.content-container {
    flex: 1 1 auto;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;    
}