.introduction {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4.5% 0;

    &__left {
        display: flex;
        padding: 20px;
        flex-direction: column;
        justify-content: center;
        max-width: 50%;              
    }

    &__info {
        margin: 10% 0;
        line-height: 25px;
        text-align: justify;
        overflow: hidden;
    }

    &__img {
        display: block;
        max-width: 350px;       
        max-height: 222px;
    }

}