.platforms {
    margin: 30px 0;
    padding: 0 15px;
    display: flex;
    align-content: center; 
    justify-content: space-between;
    text-align: center;

    &__icon {        
        font-size: 34px;
        color: $color-red;
        transition: {
            duration: $main-duration;
            property: 'color, transform';
        }       
    }
    &__wrapper {
        display: flex;
        justify-content: flex-start;
    }

    &__container {   
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-content: center;
        margin: 0 0 10px;        
    }  

    @media (max-width: 700px) {        
        display: none;
    } 

}