//! popups
.popup {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    z-index: 20;
    transition: 0.5s;  
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup__content {
    background: $to-bottom-red-gradient;
    color: $color-black;
    min-width: 400px;   
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: $full-border-radius;  

    @media (max-width: 500px) {   
        min-width: 350px; 
    } 

    @media (max-width: 450px) {   
        min-width: 300px; 
    } 

    @media (max-width: 450px) {   
        max-height: 550px;
    } 

    @media (max-width: 300px) {   
        min-width: 250px; 
    } 

}

.popup__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.popup__logo {
    display: block;
    color: $color-white;
    font-size: 24px;
    opacity: 0.2;
    
}

.popup__title {
    color: $color-white;
    margin: 10px 0;
}

.popup__close {
    display: block;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    transition: {
        duration: $main-duration;
        property: 'color';
    }

    &:hover {
        color: $color-grey;
    }
}

.popup__img-container {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after {
        content: '';     
        display: block;  
        z-index: 5;
        position: absolute;
        width: 200px;
        height: 200px;
        background-color: $color-input-orange;
        border-radius: 50%;
    }
}

.popup__img {
    width: 120px;
    height: 134px;
    display: block;
    z-index: 6;    
}

.popup__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    width: 90%; 
}

.popup__form-element {   
    min-height: 30px;
    border-radius: $full-border-radius;
    padding: 5px 20px;
    margin: 15px 0 0 0;
    background-color: $color-input-orange;
    border: none;
    color: $color-white;    
}

.popup__section {
    font-size: 14px;
    cursor: pointer;
    text-align: left;
    width: 100%;
    outline: none;
    border: none;
    border-color: none;
    outline: none;
    font-weight: bold;
    background-color: $color-red;
}

.popup__section-option:focus {
    cursor: pointer;
    width: 100%;
    outline: none;
    border: none;
    border-color: none;
    outline: none;
}

.popup__section-option {
    padding: 15px 20px;
}

.popup-field__input {
    padding: 5px 20px;
}

.popup-field__input::placeholder {
    color: $color-white;
    opacity: 0.5;  
}

.popup-field__input:focus {
    color: $color-white;   
    border-color: none;
    outline: 0;   
    background-color: $color-red;
}

// автозаповнення в браузерах
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: $color-white;
    box-shadow: 0 0 0px 1000px $color-red inset;
    -webkit-box-shadow: 0 0 0px 1000px $color-red inset;
    transition: background-color 5000s ease-in-out 0s;
}

.popup__form-button {
    margin: 15px 0 0 0;
    padding: 5px 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;    
    font: {
        family: 'Montserrat', sans-serif;
        size: 14px;
        weight: bold;
    }
    color: $color-white;  
    border-radius: $full-border-radius;
    background: $to-right-red-gradient;
    border: none;  
    transition: {
        duration: $main-duration;
        property: 'background, color';
    }       

    &:hover {      
        background: $color-white;
        color: $color-red;
    }  
}

.popup__text-center {
    text-align: center;
}


//! login & register
#register-popup .popup__content {
    justify-content: flex-start;
    position: relative;
}

#register-popup .popup__content {
    overflow: hidden;
    min-height: 415px;
}

.popup__buttons {
    margin: 20px 0;
    background: $color-input-orange;
    border-radius: $full-border-radius;
    position: relative;
    display: flex;
}

.popup__form-button_register,
.popup__form-button_login {
    width: 50%;
    background: transparent;
    color: $color-white;
    position: relative;
    margin: 0;
    
    &:hover {
        background: none;
        color: $color-grey;
    }
}

.popup__buttons-background {
    width: 50%;
    height: 100%;
    border-radius: $full-border-radius;
    background: $color-grey;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: 0.5s;
}

.popup__social-icons {
    padding: 7px;
    text-align: center;   
}

.popup__social-icons > i {
    font-size: 20px;
    margin: 0 12px;
    cursor: pointer;
    color: $color-white;
    transition: {
        duration: $main-duration;
        property: "color, transform";
    }
    &:hover {
        color: $color-grey;
        transform: scale(1.4);
    }
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: $color-white;
}

.popup__form-checkbox {
    margin: 15px 0 0 0;
}

#register,
#login {
    transition: 0.5s;
    position: absolute;
    top: 170px;
}

#register {
    left: 600px;
}

