.main__title {
    color: $color-black; 
    font-size: 24px;   
    margin: 0 0 10px;  
}

.second__title {
    display: block;
    text-decoration: none;  
    font-size: 24px;         
    color: $color-white; 
    text-align: left;  

    &_red {
        color: $color-red;        
    }

    &_grey {
        font-size: 18px;
        line-height: 28px;
        color: $color-grey;
        text-align: center;
    }

    &_uppercase {   
        text-transform: uppercase;       
    }
}

@media (max-width: 992px) {        
    .main__title {
        font-size: 22px;          
    }      
}

@media (max-width: 350px) {        
    .main__title {
        font-size: 18px;          
    }      
}

@media (max-width: 768px) {        
    .second__title {
        font-size: 18px;          
    } 
}
